<h1>Articles Listing Page</h1>

<table>
    <thead>
        <tr>Title</tr>
        <tr>Descriptio</tr>
        <tr colspan=2>Action</tr>
    </thead>

    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%=article.title%></td>
                <td><%=article.description%></td>
                <td><%= button_to 'DELETE', article_path(article), method: :delete %></td>
                <td><%= button_to 'EDIT', edit_article_path(article), method: :get %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<p>
    <%= link_to 'Create New Article' , new_article_path %>
</p>